
html, body {
    background: $dark-900;
    color: $grey-100;
    text-align: center;
}

// hero-header

h1 span {
    color: $primary;
}

h1 img {
    width: 48px;
    margin-left: $margin;
    margin-bottom: $margin * -4;
}

.hero-header {
    height: 100svh;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6%;
}

// scroll motion 1

.lightning {
    height: 56px;
    position: relative;
    transform: translateY(-20svh);
}

.spark {
    width: 18px;
}

.spark.left {
    transform: scaleX(-1);
}

// block 1

.block1 p{
    display: inline-block;
    max-width: 720px;
    text-align: justify;
}