
// hero-header
.index {
    h1 {
        span {
            color: $primary;
        }
        img {
            width: 48px;
            margin-left: $margin;
            margin-bottom: $margin * -4;
        }
        &:nth-child(2) {
            margin-left: 0.4em;
        }
    }
    .hero-header {
        height: 100svh;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 6%;
    }    
}
@media screen and (max-width: 992px) {
    .index {
        h1 {
            img {
                width: 32px;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .index {
        h1 {
            img {
                position: absolute;
                bottom: 20px;
                right: -20px;
            }
            &:nth-child(2) {
                margin-left: 0;
            }
        }
        h5 {
            margin-top: $margin;
        }
    }
}

// scroll motion 1
.lightning {
    height: 56px;
    position: relative;
    transform: translateY(-15svh);
}

.spark {
    width: 18px;
    opacity: 0;
    &.left {
        transform: scaleX(-1) translateX(-30px);
    }
    &.right {
        transform: translateX(-30px);
    }
}


.index {
    .block1, .block2, .contact {
        opacity: 0;
    }
}

// block 1
.index .block1 p{
    display: inline-block;
    max-width: 720px;
    text-align: justify;
}

// block 2
.index .block2 {
    .content-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        margin-bottom: $margin*10;
        .box-img {
            width: 420px;
            height: 300px;
            border-radius: 20px;
            overflow: clip;
            img {
                width: 100%;
                position: relative;
                left: 50%;
                transform: translateX(-50%) scale(1.2);
            }
        }
        .box-text {
            text-align: left;
            width: 40%;
        }
        .box-btn {
            position: absolute;
            bottom: -40px;
            left: 480px;
            a {
                position: relative;
                display: block;
                width: 120px;
                height: fit-content;
            }
            img {
                width: 100%;
            }
            p {
                display: inline-block;
                width: 100%;
                position: absolute;
                color: $grey-100;
                @include center;
            }
        }
    }
    .btn {
        margin-top: $margin*10;
        position: relative;
        a {
            position: relative;
            z-index: 10;
        }
        .decor {
            z-index: 0;
            display: block;
            width: 300vw;
            color: $dark-800;
            font-size: 32px;
            text-transform: uppercase;
            font-weight: 600;
            position:absolute;
            top:50%;
            left:50%;
            &.up {
                -webkit-transform: translate(-50%, -120%) rotate(-5deg);
                -ms-transform: translate(-50%, -120%) rotate(-5deg);
                transform: translate(-50%, -120%) rotate(-5deg);
            }
            &.bottom {
                -webkit-transform: translate(-50%, 5%) rotate(-5deg);
                -ms-transform: translate(-50%, 5%) rotate(-5deg);
                transform: translate(-50%, 5%) rotate(-5deg);
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .index .block2 {
        .content-box {
            .box-btn {
                left: auto;
                right: 20px;
                bottom: -80px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .index .block2 {
        .content-box {
            flex-wrap: wrap;
            margin-top: $margin*2;
            .box-text {
                margin-top: $margin*2;
                width: 420px;
            }
            .box-btn {
                left: auto;
                right: 20%;
                bottom: auto;
                top: 310px;
                a {
                    width: 80px;
                }
            }
        }
        .btn {
            .decor {
                font-size: 1.5em;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .index .block2 {
        .content-box {
            .box-img {
                width: 100%;
                height: 220px;
            }
            .box-btn {
                right: 0;
                top: 230px;
                a {
                    width: 80px;
                }
            }
        }
    }
}
.index .tag {
    margin-bottom: $margin*2;
    p{
        display: inline-block;
        padding: $padding*0.5 $padding;
        background: $grey-200;
        border-radius: 6px;
        margin-right: $margin*0.5;
    }
}