.bubble {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.4);
    transition: height 0.4s, width 0.4s, background-color 0.4s, all 0.2s;
    z-index: 9999;
  }
  
  .bubble--big {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.03);
    transition: height 0.4s, width 0.4s, background-color 0.4s;
  }