*, *::before, *::after {
    box-sizing: border-box;
    // overflow-x: clip;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

html, body {
    background: $dark-900;
    color: $grey-100;
    text-align: center;
    overflow-x: clip;
}