// import Google font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html, body {
    font-family: 'Nunito Sans', 'Noto Sans TC', -apple-system, 'Microsoft JhengHei', system-ui, sans-serif;
} 

// Titles
$font-size-base: 1rem;

h1 {
   font-size: $font-size-base * 6;
   font-weight: 700;
}

h2 {
    font-size: $font-size-base * 4;
}

h3 {
    font-size: $font-size-base * 2.5;
    font-weight: 700;
}

h4 {
    font-size: $font-size-base * 1.5;
}

h5{
    font-size: $font-size-base * 1.25;
    font-weight: 400;
}

p {
    font-size: $font-size-base;
    font-weight: 400;
}


//line-height
body {
    line-height: 1.5;
}